{% extends 'base.html.twig' %}

{% block title %}Hello CVController!{% endblock %}

{% block body %}
    <div class="wrapper">
        <h1>Мои резюме</h1>
        <a href="{{ path('createcv')}}" class="card-link create">Создать резюме</a>
    <div class="cv-cards">
    {% for cv in cvs %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title">{{ cv.position }}</h2>
                <div class="card-text">Обо мне: {{ cv.about }}</div>
                <div class="card-dates">
                    <span class="card-data">Создано: {{ cv.createdat.format('Y-m-d h:i:s') }}</span></br>
                    {% if cv.updatedat%}
                        <span class="card-data">Обновлено: {{ cv.updatedat.format('Y-m-d h:i:s') }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="card-controls">
                <a href="{{ path('editcv', {id: cv.id}) }}" class="card-link edit">Редактировать</a>
                <form action="{{ path('deletecv', {id: cv.id}) }}" method="POST">
                    <button type="submit" class="card-link delete submit">Удалить</button>
                </form>
            </div>

        </div>


    {% endfor %}
    </div>
    </div>



{% endblock %}
