<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

        {% endblock %}

    </head>
    <body>
    <div class="topnav">
        <a class="active" href="/">Главная страница</a>
        {% if app.user == null %}
            <a href={{ path('app_login') }}>Логин</a>
            <a href={{ path('app_register') }}>Регистрация</a>
        {% endif %}
        {% if app.user %}
            <a href={{ path('company') }}>Мои компании</a>
            <a href={{ path('cvs') }}>Мои резюме</a>
            <a href={{ path('stats') }}>Статистика всех резюме</a>
            <a href={{ path('app_logout') }}>Выход</a>

        {% endif %}
    </div>
    {% block body %}
    {% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>
